{% extends "bjxzapp/base.html" %}

{% block cemian %}
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'bjxzapp:jianjie' %}">学校简介</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">学校图集</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bjxzapp:dsj' %}">学校大事记</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">名师专栏</a>
        </li> <li class="nav-item">
          <a class="nav-link" href="#">杰出校友</a>
        </li>


         <li class="nav-item">
          <a class="nav-link" href="#">链接</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">禁用</a>
        </li>
      </ul>

      <hr class="d-sm-none">

      <h2>关于我</h2>
      <h5>我的照片:</h5>
      <div class="fakeimg">这边插入图像</div>
      <p>关于我的介绍..</p>




{% endblock cemian %}



{% block main1 %}

<div class="container">
  <h2>每个时代，都有每个时代的上甘岭……</h2>
  <div class="card">
    <div class="card-header">金银滩，中华民族挺起脊梁的地方</div>
    <div class="card-body">
    <li>在共和国的建设史上，国家重点建设工程，</li>

     <p>伟大如221工程，中国第一颗原子弹在这里诞生，中国第一颗氢弹在这里研制成功，
     这个地方有一个美丽的名字——金银滩，它是中国核工业发展的摇篮，是中华民族挺起脊梁的地方。
     221基地是1958年由中共中央批准建设的，1995年成为世界上唯一一个自愿退役的核武器基地。2001年，基地旧址被国务院公布为第五批全国重点文物保护单位。
     　　退役移交地方后，221基地更名为“西海镇”。
     搭乘时光的列车，让我们回到1958年。在以毛泽东主席和周恩来总理为首的老一辈无产阶级革命家的决策和领导下，独立自主，自力更生，在金银滩创建了我国第一个核武器研制、实验和生产基地——国营221厂。为了便于保密，对外称“青海矿区”。
早春三月，当我们再次漫步西海镇，不时会邂逅当年221厂的“记忆”。随处可见的雕塑、纪念碑、纪念馆、纪念园，当年的图书馆、电影院、将军楼，遍布草原的厂房、车间静静矗立，当年的标语仍清晰可见。


     今天，这个小镇是海北州政府驻地。当地人以原子弹和氢弹的诞生地为荣，不但在一些文物点立碑刻文，连商业街区也设置了反映“两弹一星”精神的元素。
    　　在中国第一个核武器研制基地——青海221基地标志性的“105大楼”内，李兴平在办公室里挂了两张分布图，一张显示着基地18个厂区和4个生活区旧址的位置，另一张标注了守卫221基地的海空守备部队十几处旧址。“活化利用”这些旧址，是他的工作重点。
    1987年6月，为了适应国际环境的变化，国务院、中央军委作出了撤销国营221厂的决定，并按照“适当集中，合理分散”的原则，在全国各地安置了全部职工。同时对基地核设施进行了彻底的无害化特殊处理，经国家验收完全符合有关规定后，整体移交海北州。
1993年，海北州州府从门源回族自治县搬迁到中国第一个核武器研制基地旧址，更名为“西海镇”。
1995年5月15日，新华社向全世界宣告：中国第一个核武器研制基地已完成使命，全面退役。
然而，缘于一首家喻户晓的情歌，西海镇再一次被世人所熟知。“在那遥远的地方，有位好姑娘，人们走过了她的帐房，都要回头留恋地张望……”伴随着西部歌王王洛宾那首脍炙人口的情歌《在那遥远的地方》，曾经在地图上一度消失的金银滩，再度迎来四海宾客。
现在的基地旧址，依然保存着昔日的风采，以其特有的历史被世人所敬仰。基地现保存有张爱萍将军题写碑名的“中国第一个核武器研制基地纪念碑”，有张爱萍、王淦昌等将军和科学家居住过的黄楼，有当年视为禁中之禁的办公楼、科研楼、科技楼，有当时号称西北地区第一流的影剧院，有第一颗原子弹启运上车的火车站台，有1∶1爆轰模拟冷试验的爆轰试验场，代表核设施处理成就的“亚洲一号坑”，还有分布在基地周围的七个分厂。
    </p>










    </div>
    <div class="card-footer">我有话要说


    </div>

  </div>
  <p> </p>
  <div class="card">
    <div class="card-header">茫崖冷湖，被遗忘的石油小镇</div>
    <div class="card-body">
     <p>
    茫崖冷湖，一座被遗忘的石油小镇，第一代石油工人挥洒热血的地方

在柴达木盆地，阿尔金山脚下无垠的荒漠中有一个废弃的石油小镇，它曾因石油而繁荣，又因石油而衰败。从无人区到数万人居住的繁荣小镇，如今又回归到无人区，绕了一个圈又回到原点。
 整齐划一的废墟，从废墟规模之大，可以遥想当年的辉煌。
 在废墟原址的不远处，还有一座“现代化”的冷湖小镇。镇里设施齐全，大型体育馆，大型商场，巨大的政府办公大楼，都粉刷维护得崭新。街道干净整洁，几乎每隔10米就有一个监控摄像头。密集的道路绿化在荒漠中格外扎眼。











然而，街道上，没有人。那些大型建筑，里面全是空的。偌大的学校里空无一人，室内的桌椅板凳都残破布满灰尘。曾经这里充盈着石油儿女几万人几代人的身影，如今这里只有掠过戈壁的风，残破的墙壁上的教员语录，恍如隔世。老基地的残墙上，留下许多冷湖人千里重返的印记。

致敬


在这个地球上跟月球一样的地方，在这个干部和工人一样的地方，在这个女人和男人一样的地方，他们在地下找出了石油，他们在戈壁建立了城镇，他们在这里安营扎寨，在这里生儿育女，他们在这里活着，他们在这里死去……

    </p>




    </div>
    <div class="card-footer">底部</div>
  </div>

  <p></p>
  <div class="card">
    <div class="card-header">
      <h4>陕西安康张岭，水电三局生活基地……</h4>


    </div>
    <div class="card-body">

    <li>
    更多的是分布在城市周围，随着城市化建设，与城市融为一体的生活区。



    </li>





    </div>
    <div class="card-footer">底部</div>
  </div>

  <div class="card">
    <div class="card-header">创建校志网，将校志材料以网络形式呈现</div>
    <div class="card-body">
      <p>

    考虑到网络时代的便捷及信息的通畅，创建学校校志网的目的，是想通过网络的模式，
    让这些材料没有湮没，也以网络方式，去印证一下材料的准确性，更可以通过网络来收集材料，
    更正校志中的不当之处。因此，特在网站中增加了校友注册的地方，以供校友发表意见、看法，
    提供相关材料等。</p>
    <li>这也就形成了这样的网站。</li>

    <li>网站的材料源于网络、及校志编辑部，版权归汉滨初中滨江校区所有。</li>




    </div>
    <div class="card-footer">底部</div>
  </div>

</div>



</p>

{% endblock main1 %}
