{% extends "bjxzapp/base.html" %}

{% block cemian %}

<p><a href="{% url 'bjxzapp:index' %}">首页</a></p>
<p><a href="#jianjie">学校简介</a></p>
<p><a href="#">学校名称的历史变迁 </a></p>

<p><a href="#ls1">历史（一）：初创及辉煌，水电三局子弟学校 </a></p>

<p><a href="#ls2">历史（二）：生存及改制，滨江学校 </a></p>

<p><a href="#">历史（三）：发展与机遇，再创辉煌！汉滨初中滨江校区
 </a></p>

<p><a href="#"> </a></p>


{% endblock cemian %}


{% block main1 %}
<div>
  <div class="container">
    <h2><a id="jianjie">汉滨初中滨江校区简介</a></h2>
    <div class="card">
      <div class="card-header">头部</div>
      <div class="card-body">
        <p>汉滨初中滨江校区，坐落在陕西省安康市水电大街中段。</p>
        <p>学校隶属于安康市汉滨初中教育集团，设有小学部和初中部。现有教职工  人，学生   人，教学班级小学部  班，初中部  班。
        </p>
      </div>

      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>

    </div>

    <h2>汉滨初中滨江校区的历史</h2>

    <div class="card">
      <div class="card-header">
        <a id="mcbq">学校名称的历史变迁</a>
      </div>
      <div class="card-body">汉滨初中滨江校区，滨江学校，其前身是“水电三局职工子弟学校”，全称为“中国水利水电第三工程局子弟学校”，

      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <a id="ls1">学校的历史（1978年到2006年12月）：水电三局子弟学校时期，初创及辉煌！</a>
      </div>
      <div class="card-body">
滨江学校，其前身是“水电三局职工子弟学校”，全称为“中国水利水电第三工程局子弟学校”，2006年以前，是一所企业完全学校，之前又依次以“水电四局石泉分局”、“水电二局”、“水电十五局”等为学校前缀。学校现以1978年5月移址安康市汉滨区张岭为建设起始年，学校由当时的水电四局石泉分局子弟一校和子弟二校合并成为现安康张岭的子弟学校，小学初中高中一体，至今已有35年的历史。安康水电站建设高峰期间，为解决职工子女就近入学，又分别在现关庙镇（砂石厂）二桥西侧旁及瀛湖镇（原大沙坝）岚河乡山脚下修建了水电三局子弟二校和子弟三校，随着安康水电站竣工及职工的撤离，子弟三校于1992年撤并进入张岭子弟学校，砂石厂子弟二校在2006年移交地方时，也完成了它培养水电子弟的使命。
建校初期，俞子惠校长为学校的迁移、基本建设、师资队伍的组织等做了大量的基础性工作。80年9月校舍建成，小学和中学分立，成立了三局小学和三局中学，周秀华和石予宜分别为第一任的小学和中学校长。此后，随着学生人数增加，教师缺口较大，工程局从各单位招考了一批优秀青年加入教师队伍；从80年开始，每年从安康师专分进一些毕业生，充实到教师队伍当中。当时安康电站正处于建设的高峰期，又是计划经济，工程局对学校的建设非常重视，给予大量的投入，对于教师的培养也是鼎立支持。
从1984年开始，学校进入长达9年的飞速发展时期。其中1985、1986、1987、1988这四年是滨江学校历史上最辉煌的时期，全校学生人数达历史最高，1985年整个子校学生总数高达2800余人，其中初中进入学生的高峰期，仅初三就有12个教学班，人数最高达534人。1988年学校教职工人数达196人，是学校教职工人数最多的一年。这几年的高考成绩也给学校赢得了巨大的荣誉。1984年高考，有12人考入大学，这个数目当时在安康地区位居前列；1985年高考更是奠定了三局子校在安康地区的地位，共有19人考入大学，仅位居于安康中学、永红中学（现汉滨高中）及旬阳中学之后，名列第四；1987年的高考成绩是这一发展阶段的高峰，有27人考入大学，其中有11人考入重点大学，其风光程度可想而知。1991、1992年继续保持好成绩，1991年27人考入大学，1992年24人考入大学。三局子校无论是教师队伍、基础设施、学生数量还是高考成绩，在当时的安康地区都得到了广泛认可。
九十年代初由于专业技术人员在社会上需求增大，1991年水电三局技工学校开始招收初中生，1993年水电三局工业学校（中专）也开始招收初中生，这一政策上的变化对三局子校高中的发展产生极大影响。1991年中学学生总数只有819人。1992年由于小学5年学制改为6年学制，初中毕业生只有66人。此后，随着安康水电站建设进入尾工，改革开放把企业推向市场经济，工程局的经济景气指数开始进入了寒冬，对子弟教育的投入从原来的大手笔到当时仅能保持教育的正常运行的日常投入，三局子校开始面临巨大的生存挑战。当敏感的三局人看到自己生存境况发生了转变时，危机感油然而生，他们开始焦虑自己子女的学习环境，1993年拉开了三局子女进安康城区上学的大幕，此后人数逐年递增。这种环境下小学由于学生年龄较小，受影响不大，而中学则走进了学生数量的最低谷，1993年中学学生总数561人，教学班仅16个。初中毕业生从1992年到2000年，一直都没有超过200人，高中毕业生从1994年开始到2001年，一直都没有超过100人，1995年30人，1999年仅有24人。高考成绩失去往日辉煌，从1993年到1999年，长达七年高考成绩都不尽如人意，群众对学校的质疑声越来越大，工程局对学校的信任度越来越低，优质生源严重流失，学校面临巨大的挑战。2000年开始，学校的状况有所改观，学生开始增加，班级开始增多，高考成绩在5年里连续不断进步，考取大学的人数每年都在刷新。尤其是在2000年三局学校的学生周睿走进了清华大学的圣殿，全工程局沸腾。在2002年中考中，我校初中毕业生陆春晖考取了安康市第一的好成绩，再次让学校挺起了腰杆。
</div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>



    <div class="card">
      <div class="card-header"><a id="ls2">学校的历史（2006年12月到2020年  月）：滨江学校时期，生存及改制！</a></div>
      <div class="card-body">2006年12月13日因国家的企业分离办社会的职能政策，三局子校由企办子弟学校移交变成地方学校，并更名为“滨江学校”，由此，开启了学校发展的新一页。学校现共占地27,600平米,建筑面积14,066平米，分为滨江学校小学部和滨江学校中学部，集小学、初中、高中为一体。2013年小学共有17个教学班，学生760人；初中13个教学班，学生561人；高中8个教学班，学生295人。在职教职工161人，离退休教师139人，在职教师中，具有高级职称者70人，中级职称者66人，学历达标100%。这些数据足可以表明，滨江学校的复兴指日可待。
不可否认，有着35年历史的滨江学校，它曾经的办学规模、教育质量、校园文化、师生的精神面貌都名噪一时。如何让辉煌再现，“回归”地方，被认为是学校的一次前所未有的机遇。因此学校把“调整观念，适应变化，抓住机遇，尽快发展”确定为新的工作思路，把学校目标定为：“立足江北，面向汉滨，放眼安康，重塑品牌”。当复兴的机遇重现，复兴的思路清晰，复兴的目标明确时，让我们把“豪爽、大度、兼容”的滨江学校精神注入到复兴的道路中去，迎接她的再次辉煌。


</div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>


     <div class="card">
      <div class="card-header"><a id="ls3">学校的历史（2020年 月到现在）：汉滨初中滨江校区时期，发展与机遇！</a></div>
      <div class="card-body">内容</div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>


  </div>


</div>




{% endblock main1 %}
