{% extends "bjxzapp/base.html" %}

{% block cemian %}
  <p>我的主题 </p>

  <ul>
    {% for topic in topics %}

       <li><a href="{% url 'bjxzapp:topic' topic.id %}">{{ topic }}</a></li>

    {% empty %}
      </li>No topics have been added yet.</li>
    {% endfor %}

  </ul>


{% endblock cemian %}





{% block main1 %}

  <h3>新条目的主题内容:
    <a href="{% url 'bjxzapp:topic' topic.id %}">{{ topic }}</a>
  </h3>
  <h5>
    增加新的条目：
  </h5>

  <form action="{% url 'bjxzapp:new_enntry' topic.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name='submit'>增加新条目</button>
  </form>



{% endblock main1 %}



