{% load bootstrap4 %}
{% load static %}


<!doctype html>
<html lang="en">
<head>
  <title>岭上岁月</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to fit=no">

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}


  <style>
  .bg-img {
      background-image: url("{% static 'images/zlapp/0jum/akdz1.png' %}");
      background-size:cover; /* 图片覆盖整个容器 */
      background-position:no-repeat center center;
      color:yellow;
      font-family:"楷体";
  }
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  .chinese-text {
      text-indent:2em;
  }

  .h.jumbotron{
    padding:30px;

  h6{
    padding-top:5px;
   }
  .a{
    width:80px;
    height:20px;
    text-align:center;
    line-height:20px;
    color:#fff;
   }

  .p-margin{
    margin:0 auto;
  }

  </style>
</head>


<body>
<!--采用Bootstrap方式-->

<!--jumbotron栏：网站头部-->
<div class="bg-img jumbotron text-center " style="margin-bottom:0">
  <h4>张岭，水电三局建设安康水电站时，同期建设的生活基地。</h4>
  <h5></h5>
  <h5>张岭，位于陕西省安康市汉滨区汉江大桥的北岸。1976年以前，这里还是一片荒芜之地。</h5>
  <h5>1977年安康水电站进行开工准备工作，上万人的施工队伍及家属，便临时安置在与安康县城一桥之隔，这个叫张岭的山包包上。</h5>
  <h5>谁曾想，这份“临时”最终酿成了“永久”。</h5>
  <p></p>
</div>

<!--导航栏：网站导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <a class="navbar-brand" href="{% url 'zlapp:index' %}">首页</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'zlapp:zhangling1' %}">岭上岁月</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'zlapp:sd3j1' %}">水电三局</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'zlapp:respect1' %}">致敬时代</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'zlapp:school' %}">子弟学校</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'zlapp:features' %}">三餐四季</a>
      </li>

      <!--
      <li class="nav-item">
        <a class="nav-link" href="{% url 'zlapp:wms' %}">网站管理（WMS）</a>
      </li>
      -->



    </ul>


    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="navbar-text">
          {% if user.is_authenticated %}
            您好！{{ user.username }} , 欢迎访问本站！
            <a href="{% url 'users:logout' %}">注销</a>
          {% else %}
            <a href="{% url 'users:login' %}">登录</a>
            <a href="#">注册</a>

          {% endif %}



        </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'zlapp:topics' %}">网友留言</a>
      </li>
    </ul>




  </div>


</nav>

<!--内容栏：网站内容栏-->
<div class="container.fluid" style="margin-top:10px">
  <div class="row no-gutters">

    <div class="col-sm-3">
      <!--

      <div class="card">
        <div class="card-header">
          <p class="text-center">图片和视频</p>
        </div>

        <div class="card-body">
          {% block cemian1 %}
          {% endblock cemian1 %}
        </div>
      </div>

      -->



      <div class="card">
        <div class="card-header">
          <p class="text-center">2026，张岭更好！安康更好！</p>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-bs-interval="1000">
            <!--轮播（Carousel）指标-->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
              <li data-target="#myCarousel" data-slide-to="6"></li>

            </ol>
            <!--轮播（Carousel）项目-->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/zlapp/carousel/carousel1.jpg' %}" width="320" height="240" alt="张岭1">
                <div class="carousel-caption">新通车的张岭中路</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/zlapp/carousel/carousel2.jpg' %}" width="320" height="240" alt="张岭1">
                <div class="carousel-caption">张岭中路（通往汉江东路方向）</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/zlapp/carousel/carousel3.jpg' %}" width=320 height=240 alt="张岭2">
                <div class="carousel-caption">张岭人居环境最佳的小区</div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/zlapp/carousel/carousel4.jpg' %}" width=320 height=240 alt="张岭3">
                <p class="carousel-caption">张岭五区更新改造中</p>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/zlapp/carousel/carousel5.jpg' %}" width="320" height="240" alt="张岭7">
                <div class="carousel-caption">更新后的二处商店门口</div>
              </div>
               <div class="carousel-item">
                <img src="{% static 'images/zlapp/carousel/carousel6.jpg' %}" width="320" height="240" alt="张岭7">
                <div class="carousel-caption">五区新增的社区大舞台</div>
              </div>
               <div class="carousel-item">
                <img src="{% static 'images/zlapp/carousel/carousel7.jpg' %}" width="320" height="240" alt="张岭7">
                <div class="carousel-caption">张岭局机关办公楼也要更新了</div>
              </div>

            </div>
            <!--轮播（Carousel）导航-->

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>

            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>


          </div>


        </div>

        <div class="card-body">

          <video width="150" controls poster="" >
            <source  src="{% static 'videos/zlapp/zlf1.mp4' %}" type="video/mp4" >

          </video>
          <p class="text-center" >张岭兴衰赋</p>
          <p class="text-center">徐德胜作并诵读</p>
          <p class="text-center">原作品时长7分钟，本站只截取了3分钟，完整作品可到抖音欣赏。搜“张岭兴衰赋”即可。</p>


        </div>
        <div class="card-footer">
          <p class="text-center">更多图片和视频内容</p>
        </div>

      </div>
      <p></p>
      <div class="card">

        {% block cemian2 %}
        {% endblock cemian2 %}

      </div>

    </div>


    <div class="col-sm-3">
      {% block main1 %}
      {% endblock main1 %}
      {% block main4 %}
      {% endblock main4 %}
      {% block main7 %}
      {% endblock main7 %}
      {% block main10 %}
      {% endblock main10 %}

    </div>

    <div class="col-sm-3">
      {% block main2 %}
      {% endblock main2 %}
      {% block main5 %}
      {% endblock main5 %}
      {% block main8 %}
      {% endblock main8 %}
      {% block main11 %}
      {% endblock main11 %}

    </div>

    <div class="col-sm-3">
      {% block main3 %}
      {% endblock main3 %}
      {% block main6 %}
      {% endblock main6 %}
      {% block main9 %}
      {% endblock main9 %}
      {% block main12 %}
      {% endblock main12 %}

    </div>






  </div>






</div>


<div class="h jumbotron text-center" style="margin-bottom:0">
  <p>联系我们</p>
  <span class="link">
    <a href="mailto:akzledit@163.com">网站编辑</a> |
    <a href="mailto:277757418@qq.com">校友联系</a> |
    <a href="javascript:void(0)">注册</a>
  </span>
  <p class="bottom-content">
    <span>地址：陕西安康汉滨区水电大街  </span>
    <span>邮箱: 277757418@qq.com</span>
    <br>
    Copyright &copy《岭上岁月》 All Rights Reserved
  </p>



</div>

</body>
</html>