{% extends "zlapp/base1.html" %}

{% load static %}


{% block cemian1 %}
  <h5 class="text-center">致敬时代</h5>
      <hr class="d-sm-none">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'zlapp:respect1' %}">回望与守护</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'zlapp:respect2' %}">一五计划和三线建设</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'zlapp:respect3' %}">苍凉的青海冷湖</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'zlapp:respect4' %}">蜕变的北京798</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'zlapp:respect5' %}">永恒的青海221</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">封存的重庆816</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{% url 'zlapp:respect7' %}">蝶变的北京绿心公园</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'zlapp:index' %}">返回首页</a>
        </li>


      </ul>


      <hr class="d-sm-none">

      



{% endblock cemian1 %}

<p></p>

{% block cemian2 %}
  <div class="card-header">
      <h5 class="chinese-text">张岭最新动态</h5>
  </div>
  <div class="card-body">


    {% for new in news %}
      <li>{{ new.text }}   </li>
      <p>{{ new.date_added|date:'Y年m月d日' }}</p>
      <p>{{ new.cont|slice:"22" }}
              {{ "..."}}
      </p>

    {% endfor %}


      <p> 测试内容</p>
  </div>
  <div class="card-footer">
    <a href="{% url 'zlapp:news' %}">更多消息</a>
  </div>



{% endblock cemian2 %}



{% block main1 %}

<div class="container">
  <div id="zl1">
    <h5 class="text-center">致敬时代：回望与守护！</h5>
  </div>
  

  <p></p>

 
  <p></p>

  <div class="card">
    <div class="card-header">
    <h6 class="chinese-text">2026年，世界不太平。 2026年，我们岁月静好！
        我们当下的和平环境，并非源自国际社会的善意，也非国际法的庇护，
        而是数十年自力更生、积累硬核实力换来的结果。国际社会的丛林法则从未改变，
        弱国无外交、实力定话语权是永恒的真理。  </h6>
    </div>
    <div class="card-body">
      <p class="chinese-text">
        像张岭这样，麻雀虽小、五脏俱全的社区，是共和国建设工业化国家进程中的缩影。
        这样的社区分布在祖国各地城市和乡村，大三线和小三线地区为更多。随着国际局势的变化，
        时代的发展，这些社区，废弃，留守，面临着新的挑战和机遇。

        在新中国庞大的工业建设浪潮中，像张岭这样的社区或许只是微不足道的注脚。
        但正是这些社区，汇聚了无数的智慧和汗水，共同铸就了新中国工业的辉煌。
        这些社区的建设，不仅为国家的工业发展做出了贡献，也为当地和社区居民带来了实实在在的福祉。
      </p>






      <p class="chinese-text">
        今天，我们回望那些曾经的社区，不仅是为了缅怀那些为国家工业发展做出贡献的社区居民，
        更是为了提醒我们，无论时代如何变迁，我们都要保持对国家工业发展的关注和投入。
        工业4.0，这些前沿技术的发展，都需要我们不断的努力和创新。        
        我们需要不断努力，才能在未来的岁月中，继续书写工业发展的新篇章，
        我们的国家才能在国际社会中，拥有更强的竞争力和影响力。        
      </p>

      <p class="chinese-text">
        1958年，面对国际上严峻的军事威胁和大国的核讹诈，党中央毅然作出发展导弹、核弹、
        人造地球卫星，突破国防尖端技术的战略决策。
      </p>

      <p class="chinese-text">
        1964年10月16日下午三点我国第一颗原子弹成功爆炸。
      </p>
      <p class="chinese-text">
        与此同时，以毛泽东为核心的中共中央领导层，也对防御美国可能的袭击及核打击提前做了充分的准备——
        在后方三线地区进行勘察、建设新的核武器和国防尖端武器基地的工作。
        1964年9月中旬到11月底，国防工办常务副主任赵尔陆上将率领11个组，分别在甘肃、陕西、宁夏、四川、
        贵州、云南、湖北、湖南、广西的47个专区进行了勘察选址，总共踏勘了1499个点，选出682个点，
        多方布局建设核武器、导弹、航空、潜艇等尖端武器基地。1965年3月，毛泽东、周恩来、
        刘少奇、邓小平等先后批准了罗瑞卿代表国防工办上报的《关于国防工业在二三线地区新建项目布局方案的报告》。
        此后，经过10余年的三线建设，在三线地区先后建成400多个军工企业、80多个国防科研院所，
      </p>
      <p class="chinese-text">
        816工程就是其中之一。
         
      </p>

      <p class="chinese-text">
        针对敌人要袭击核基地的企图，建设后方第二套核原料工厂是重中之重。
        当时世界防御空袭的办法，只能是在岩石山里挖洞。
        早在1964年1月，周恩来就提出，核工业选址要靠山、分散、隐蔽，有的要进洞。
        有关部门多次考察、论证后，在重庆涪陵白涛镇选址。

      </p>
      
      <p class="chinese-text">
          1966年，周恩来批准在涪陵白涛建造中国第二个核原料工业基地--
          即为制造原子弹提供核原料的地下核工厂，
          中央军委特调8342部队担负主要施工任务。这被列为绝密级军事机密。

      </p>
      
      <p class="chinese-text">
        816工程位于涪陵白涛镇，这是乌江边上仅几千人口的一个小镇，为了保密，
        凡是有"问题"的人一律迁出，白涛的地名也随之从地图上消失。
      </p>
      
      <p class="chinese-text">
        1967年2月，工程兵第54师("文革"代号"8342部队")所属三个团，秘密进驻涪陵深山，
        承担起816工程的建设任务，开挖"世界第一人工洞体"的地下核工厂，工程总投资7.4亿元。
        1970年，54师参加抗美援越的一个团和留在酒泉基地的一个团全部归建。
        国家核能工业部也陆续派出三个建筑公司，主要任务是架桥铺路、建厂房和住宅区。
        涪陵区县调配的民工又有1万人左右，加上从全国征调的人才和老厂转调的技术尖子也近1万人。
        在这个名不见经传的小山沟里，一下聚集了将近6万人。
      </p>
      
      <p class="chinese-text">
        1975年，54师完成坑道施工任务，奉命撤离白涛。
      </p>
      
      <p class="chinese-text">
        到1983年，洞体和核反应堆基本建设完成，反应堆大厅的主洞体高达79米，洞内可并排行驶汽车的纵深道路总长24公里，堪称世界第一大人工洞。
        至1984年停建时，"816工程"已完成85%的建筑工程、60%的安装工程。
      </p>
      
      <p class="chinese-text">
        1984年2月，由于国际形势的变化，"816工程"被封闭了起来，始终没有正式投入过生产。
      </p>

      
      <p class="chinese-text">
        其后，由于世界局势缓和，1984年邓小平等中央领导决定，停止反应堆点火，铸剑为犁，
        利用设备和人员，在洞外建设建峰化工集团。1984年10月，建峰化工集团正式投产，
        成为我国第一个以核原料工业为基础的化工企业。
      </p>
  
      
      
      <p class="chinese-text">
        2002年4月国防科工委下达解密令--816地下巨型核军工洞重见世人。 
        2010年，"816工程"首次作为景点向游客部分开放。
        随后，为了进一步完善升级景区设施，2015年涪陵区政府对"816工程"
        进行为期一年的全封闭升级。2016年9月25日，休整一年后重新开门迎客。

      </p>
      
      
      <p class="chinese-text">        
        2018年1月27日，816工程(816景区)入选"中国工业遗产保护名录"。 
        2019年7月29日，被评为国家AAAA级景区。

      </p>
      
      <p class="chinese-text">        
        铸剑为犁的何止是816工程，1969年筹划，1970年启动，1973年“缓建”
        的江西九江214核潜艇制造工程，其结局更显悲壮。
      </p>
      
      <p class="chinese-text">        
        位于江西九江郊外的山沟之间，有片被藤蔓覆盖的红砖房屋、被雨水淹没的旧厂房洞窟、
        以及锈迹斑斑的铁轨和枕木，这些遗迹见证了那段峥嵘岁月，这片被称为“老六机”，
        这里，便是昔日被誉为“二一四工程”的长江核潜艇生产基地。
      </p>
      
      <p class="chinese-text">        
        它曾是江西工业版图上最为璀璨的明珠，同时也是后来屡被提及的“江西最大烂尾军工项目”。
        其诞生之谜、烂尾之因，以及最终为这片土地留下的痕迹，远非一个“烂”字所能概括。
      </p>
      
      <p class="chinese-text">
        “二一四工程”1969年筹划，1970年工程正式迈入了决战的关键时期，
        国内数一数二的造船企业——武昌造船厂、大连造船厂以及江南造船厂——
        纷纷将技术精英和工人队伍派遣至江西。
        铁路线上不仅输送了机器设备，更带来了携带行囊的年轻力量。
        许多人此前未曾踏出过家乡的省份，而一纸调令便让他们在深山之中安家落户。
        除专业技术团队之外，江西本土亦动员了庞大的民工队伍。
        各县域纷纷上报参与“支援国家重点工程”的人员数量，
        总计江西各地抽调的民工人数约达1.2万。此外，
        还有来自全国各地的工程技术人才及施工队伍，当年投身于该基地建设的人数，
        迅速攀升至两万乃至数万人之众。
      </p>
      
      <p class="chinese-text">        
        数年建设推进之际，214工程旗下的多家工厂已逐步展现出一定的生产与试制实力。
        展望未来，若再给予数年时间，214工程有望在华东地区崛起为一家举足轻重的军工造船基地。
      </p>
      
      <p class="chinese-text">
        然而，命运的转折点恰恰降临在“再多几年”的临界点上。
      </p>
      
      <p class="chinese-text">        
        1973年左右，我国的大环境发生了显著转变。在经历了一段时间的高强度备战与备荒投入之后，
        国家财政的负担以及资源分配的问题开始逐渐显现。江西214工程的选址，实则更多是出于安全上的考虑，
        以增加一层冗余保障，在资源极度紧张的情况下，是否应当全面投入建设，这是一个不容忽视的现实问题。
      </p>
      
      <p class="chinese-text">        
        由此，214工程被正式划分为“缓建”状态。看似温和的这两个字，实则对项目产生了近乎半停的影响。
        投资规模显著缩减，众多后续施工被迫搁置，部分已到位的设备亦被调离或封存。
        原定计划中的某些功能被削弱或延期实施，尽管前期投入巨大，但后续却难以实现无缝衔接。
      </p>
        
      <p class="chinese-text">
        随着国际局势的变化，时代的发展，三线建设时期的多数项目，都因交通不便，
        国家政策的调整，缓建、停建、  企业难以支撑，军转民，又
        
        这些社区，或废弃，或留守，或更新，面临着新的挑战和机遇。
        
        而进行的“三线建设”，在大三线和小三线地区，这样的社区更多。
               
        它们未曾载入正史，鲜有媒体聚焦，但在这些地方，亲身经历，参与的人，那些在此奉献青春、出生成长的人们，始终铭记着它的存在。
        
      </p>
      
      
      
      
      <p class="chinese-text">
        如果说，以前还有人怀疑，“三线建设”没有必要，这些废弃的工程，当时就没有必要兴建。
      </p>
           
      <p class="chinese-text">
        2026年世界发生的事，就告诉了你，这些工程，是多么的有必要。
        哪些为此而奋斗的人们，他们的工作，是多么的必要。
        
        
        2026年，世界更加动荡。
        
        2026年1月3日凌晨，美国对委内瑞拉发动大规模军事打击，强行控制委总统马杜罗及其妻子并将他们带到美国。这一军事行动造成至少100人死亡。德尔西·罗德里格斯当月5日在委全国代表大会宣誓就任代总统。
        
        
        2026年2月28日，美国和以色列对伊朗发动军事打击，伊朗首都德黑兰、伊斯法罕卡拉季等多地遭袭，伊朗时任最高领袖阿里·哈梅内伊和多名伊朗高层官员在空袭中遇害。
        
        2026年，我们岁月静好！
        
        
        从1840年至1945年，中国遭到7次大规模入侵战争——鸦片战争、英法联军入侵战争、中法战争、日清战争、八国联军入侵战争、日俄战争、中日战争，几乎不到15年中国就要遭遇一次大战，死亡5000万人以上，国家几乎被瓜分；加上二战后最大的两次局部战争——朝鲜战争、越南战争又都发生在中国的友邻，将中国卷入。作为一个工业设施集中在东部沿海、没有后方战略基地的落后大国；作为指挥过抗日战争、抗美援朝战争，目睹山河破碎、血流成河的中国领导人，没有强烈的抵御战争估计、即使是过度的估计倒是不可理解的了。在这个问题上，不能简单地说当时进行三线建设就是对战争危险估计过于严重，更不能轻率地说是无的放矢。
        
        
        抗美援朝 ，
        
        
        1950年，刚成立一年、百废待兴的新中国，直面以美国为首的16国联军，在朝鲜战场正面硬刚，将联军从鸭绿江边击退至三八线。
        
        这场战争让美国军政界形成共识：中国的战略意志坚定，中国军队的战斗力不可低估。
        
        
        
        
        
        金银滩596工程，“三线建设”， 是我们的底气。
        
        
        美国限制中国的动作越是下流肮脏越显得他们黔驴技穷，因为在绝对的实力面前完全不需要搞这种小动作。
        
        由此可见中美两国在综合国力上，差距已不是特别明显，美国知道中国已经当年那个可以随便制裁的国家，他们只能用癫狂的行径来掩盖焦虑的无力。
        
        
        
        美军的最终妥协，本质是精准利弊核算后的理性选择，核心原因是抗美援朝战争奠定的战略威慑。
        
        
        
        
        我们的外交官，才能在联合国会议上说：你没有实力，说这个话。
        
        东风5C，
        
        
        
        
        
        我们当下的和平环境，并非源自国际社会的善意，也非国际法的庇护，而是数十年自力更生、积累硬核实力换来的结果。
        
        国际社会的丛林法则从未改变，弱国无外交、实力定话语权是永恒的真理。
        
        从中国成功研制核武器，到伊拉克、伊朗接连遭受军事打击，三组国家的不同境遇印证了不变的国际法则。
        
        唯有自身强大，才能抵御强权欺凌，守住国家主权与和平根基。
        
        
        2026年，世界不太平。 2026年，我们岁月静好！







      </p>
      <p class="chinese-text">
        1949年10月1日，中华人民共和国成立，中国共产党领导的人民军队，经过艰苦卓绝的斗争，
        推翻了国民党政权，建立了中华人民共和国，实现了中国历史上最伟大的转折，开启了中国历史的新纪元。
        1950年6月25日，中国人民志愿军跨过鸭绿江，与朝鲜人民军并肩作战，抗美援朝，保家卫国，
        赢得了抗美援朝战争的伟大胜利，为中华民族赢得了独立和解放，为世界和平作出了重大贡献。
        1953年7月27日，中国人民志愿军和朝鲜人民军在朝鲜停战协定上签字，抗美援朝战争胜利结束，
        为中华民族赢得了独立和解放，为世界和平作出了重大贡献。
      </p> 
      <p class="chinese-text">
      2026年，世界不太平。 2026年，我们岁月静好！ 抗美援朝，对印自卫反击战，对越自卫反击战， 
      “深挖洞”，“三线建设”， 金银滩596工程， 1979年12月的对越自卫反击战，1984年的对台海战争，
      1999年的科索沃战争，2003年的伊拉克战争， 2011年12月的科索沃战争，2014年的叙利亚战争， 2025年，世界仍处于动荡时期。俄乌冲突继续！中美贸易战，
      从1949年10月1日，中华人民共和国成立。今天，共和国已经走过了76年。经历了1951年的抗美援朝， 1961年的对印自卫反击战，1979年12月的对越自卫反击战， 中国的军事能力取得突破。
      自2017年下水以来，中国第一艘国产航空母舰“福建舰”一直备受关注。作为中国海军的重要战力之一， 福建舰不仅代表了中国军事科技的高度发展，更是中国海军崛起的象征。 福建舰是中国自主研发的第一艘航空母舰，也是中国海军第三艘航空母舰。
      在此之前，中国已经拥有两艘改装自乌克兰的航空母舰，分别是辽宁舰和山东舰。 辽宁舰是中国从乌克兰购买的瓦良格号航母，经过改装后于2012年正式加入中国海军； 山东舰则是辽宁舰的姊妹舰，于2019年服役。
      2022年6月17日，中国第三艘航空母舰下水命名仪式在中国船舶集团有限公司江南造船厂举行。 福建舰下水后，将按计划开展系泊试验和航行试验。 2024年5月1日，中国第三艘航空母舰福建舰从上海江南造船厂码头解缆启航，赴相关海域开展
      首次航行试验。
       
    

      </p>

      <p class="chinese-text">
        2026年，世界不太平。


        2026年，我们岁月静好！
        抗美援朝
        “深挖洞”，“三线建设”，
        金银滩596工程，


      </p>
    </div>
    <div class="card-footer">
      <h6 class="text-center">
      
        <div class="row justify-content-around bg-light ">
          <a href="{% url 'zlapp:news' %}">①点赞 {{topic.likes}}</a>
          <a href="{% url 'zlapp:topic' topic.id %}">②评论{{ topic.entry_set.all|length }}</a>
          <a href="{% url 'zlapp:news' %}">③分享{{20}}</a>
      
        </div>
      
      </h6>

    </div>

  </div>







  <p></p>



  <div class="card">
    <div class="card-header">
      <h6 class="chinese-text">
        评论主题：{{ topic }}
      </h6>
      
      <h6 class="text-right">评论创建日期：{{ topic.date_added }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        评论数：{{ topic.entry_set.all|length }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ID：{{ topic.id }}
      </h6>
      
      <div class="row justify-content-around bg-light ">
        <a href="{% url 'zlapp:new_entry' topic.id  %}">我也要写评论 </a>
        <a href="{% url 'zlapp:topic' topic.id %}">查看全部评论</a>
      </div>


    </div>

    <div class="card-body">
      <p class="chinese-text">
      <ul>
        {% for entry in topic.entry_set.all|dictsortreversed:"id"|slice:":5" %}
        <li>
          {% if entry.name == "" %}
          <p> 匿名用户 IP：{{ entry.ip }} 日期：{{ entry.date_added }}</p>
          <p>{{ entry.text }} </p>
      
          {% else %}
          <p> 用户名：{{ entry.name }} IP：{{ entry.ip }} 日期：{{ entry.date_added }}</p>
          <p>{{ entry.text }} </p>
          {% endif %}
      
        </li>
        {% empty %}
        <li>该主题内还没有留言！留言请点击进入：</li>
      
        {% endfor %}
      </ul>
      
      </p>
     
    

    </div>

    <div class="card-footer">
      <h6 class="text-center">
        <div class="row justify-content-around bg-light ">
          <a href="{% url 'zlapp:new_entry' topic.id %}">我也要写评论 </a>
          <a href="{% url 'zlapp:topic' topic.id %}">查看全部评论</a>
        </div>
      </h6>
    </div>

  </div>

</div>



</p>

{% endblock main1 %}
