{% extends "xuexiaoapp/base.html" %}

{% block cemian %}

<p><a href="{% url 'zlapp:index' %}">首页</a></p>
<p><a href="#dsj">列入大事记的说明</a></p>
<p><a href="#69">1978年以前 </a></p>

<p><a href="#78">1978年5月-1981年10月 </a></p>

<p><a href="#81">1981年10月-1996年9月 </a></p>

<p><a href="#96">1996年9月-2004年8月 </a></p>

<p><a href="#04">2004年8月-2006年12月 </a></p>

<p><a href="#06">2006年12月-2017年8月 </a></p>

<p><a href="#17">2017年8月-2020年8月 </a></p>

<p><a href="#20">2020年8月-2023年8月 </a></p>

{% endblock cemian %}


{% block main1 %}
<div>
  <div class="container">
    <h3>汉滨初中滨江校区大事记（讨论稿）（2023年3月定稿）</h3>
    <div class="card">
      <div class="card-header">
        <a id="dsj"><h3>列入大事记的说明：</h3></a>
      </div>
      <div class="card-body">
          <p>一、具有阶段性、标志性、影响性的事件；</p>
          <p>二、具有创新性的事件（第一次）；</p>
          <p>三、获得省市以上表彰奖励的事件；</p>
          <p>四、市级以上领导到学校视察的事件。<p>
      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>

    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="69">1978年学校迁入陕西省安康市以前</a></h3>
      </div>
      <div class="card-body">
        <li>1969年11月，刘家峡工程局（水利电力部水电第四工程局）50多名干部组成先遣队奔赴陕西省石泉县，筹建石泉水电站。</li>
        <li>1970年8月，水利电力部水电四局石泉分局子弟一校兴建于石泉饶峰河畔石泉分局安装队驻地。1971年9月开学。筹建负责人，赵素珍。</li>
        <li>1972年3月，子弟一校迁移至饶峰河畔卢家沟。革委会主任，赵素珍；支部书记，董和畅（兼）。</li>
        <li>1972年初，水电四局石泉分局子弟二校兴建于石泉城关好汉坡。1973年3月开学。
              革委会主任兼支部书记，张泽民。</li>
        <li>1975年7月，水电四局石泉分局从水电四局划出，隶属水电部直管，名称“石泉分局”。
              1978年4月石泉分局更名为水电部第十五工程局。学校随之更名为石泉分局职工子弟一校、
              二校；水电部十五局职工子弟一校、二校。</li>
        <li>1975年7月，子弟学校首届高中生，两个班，约70人，毕业。</li>
        <li>1976年7月，学校第一批初、高中毕业生上山下乡。</li>

      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>


    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="78">1978年5月-1981年10月</a></h3>
      </div>
        <div class="card-body">
          <li>1978年5月，子弟一校、子弟二校高中毕业班迁移至安康县（现汉滨区）
          张岭复习参加高考。</li>
          <li>1978年9月，水电十五局子弟一校于张岭正式开学。党支部书记、
          学校行政负责人：赵素珍。</li>
          <li>1978年12月，高鹏同学获得安康地区高中物理竞赛第一名。</li>
          <li>1979年3月，俞子惠任水电十五局子弟一校党支部书记兼校长。</li>
          <li>1979年9月，子弟一校分设为水电十五局子弟一校（小学）、水电十五局子弟中学。
              俞子惠任中学党支部书记兼校长；赵素珍任子弟一校党支部书记，周秀华任子弟一校校长。</li>
          <li>1979年10月，学校随工程局更名为电力工业部水电二局子弟一校、水电二局子弟中学。</li>
          <li>1979年11月，戴安平老师被评为陕西省优秀少先队辅导员。</li>
          <li>1980年 ？月，三局中学男子男子篮球队代表安康地区参加陕西省篮球比赛。</li>
          <li>1981年？月，三局中学获得安康地区重点学校文艺汇演第一名。</li>

        </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>


    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="81">1981年10月-1996年9月</a></h3>
      </div>
        <div class="card-body">
          <li>1981年10月，工程局任命石予宜任子弟中学校长；俞子惠任党支部书记。
              赵素珍任子弟一校党支部书记，周秀华任子弟一校校长。</li>
          <li>1982年6月，学校随工程局更名为水利水电部水电十五局子弟中学、子弟一校。
              同年9月，学校又随工程局更名为水利电力部三局子弟中学、子弟一校。</li>
          <li>1983年，水电三局子弟一校被授为陕西省“五讲四美”先进集体。</li>
          <li>1983年8月6日，陕西省省长李庆伟到子弟中学救灾站慰问灾民和参与救灾工作的学校教师。</li>
          <li>1983年8月8日，陕西省委第一书记马文瑞到子弟中学救灾站慰问灾民和参与救灾工作的学校教师。</li>
          <li>1984年7月，子弟中学女子足球队代表安康地区参加陕西省女子足球赛获得第三名；教练：易武、牟正玲、
              刘绍波老师。</li>
          <li>1984年9月，吴建英（男）同学被清华大学电子工程系录取。</li>
          <li>1986年9月，三局子弟中学职业高中部招生。（1990年停办）。</li>
          <li>1987年8月，子弟中学牟正玲、胡勇老师率女子毽球队在西安参加比赛获陕西省冠军。
              同年11月在重庆代表陕西省参加全国凤凰杯毽球比赛，（因为没有分组别，
              成人队和青少年队在一起比赛。）获得第13名。</li>
          <li>1987年高考，在安康地市十四所省地重点中学中，三局中学高考平均成绩名列第一。</li>
          <li>1987年9月，张靖（男）同学被北京大学力学系录取。</li>
          <li>1988年6月，学校随工程局更名为能源部水电三局子弟一校、子弟中学；
              10月学校又随工程局更名为“中国水利水电第三工程局（简称水电三局）”子弟一校、子弟中学。</li>
          <li>1988年9月，安康地区通报一九八八年高考奖励办法及受奖名单：三局中学理科第一 、 文科第三；
              奖金150元+80元，合计230元。</li>
          <li>1988年12月7曰至11日，西北电管局子校“第二课堂”经验交流会在水电三局教育处举行。
              来自陕西电力系统十六所子弟学校的代表以及西北电管局教育处、安康地区文教局、
              安康市（汉滨区）文教局参加了交流会。三局中学在会上交流经验。</li>
          <li>1989年5月，殷亿芬老师被评为陕西省优秀少先队辅导员。</li>
          <li>1989年11月，孙吉友、尹海泉老师率子弟中学足球队参加安康地区第三届“振兴杯”，获中学组冠军。</li>
          <li>   年 月，三局中学田径队一名学生在全国传统项目田径分区赛上夺得女子跳高第二名。</li>
          <li>1990年3月，虞爱梅任子弟一校校长。</li>
          <li>1990年6月，子弟一校被陕西少工委命名为省级“文明大队”。</li>
          <li>1990年6月，子弟一校被国家少工委命名为全国“红旗大队”。兰新华老师被评为全国“优秀中队辅导员”。</li>
          <li>1990年7月，殷亿芬任子弟一校校长。</li>
          <li>1990年12月12日，为庆祝安康水电站胜利发电，徐德胜作词、张兰喜作曲、
              指挥的大型组歌《峡谷的回声（水电工人之歌）》在张岭影剧院隆重演出。</li>
          <li>1990年６月，魏黎阳、陈淑君、贾磊、王宁被评为陕西省优秀少先队员；
              初二（1）班被陕西省和全国少工委授予优秀中队的称号。
              董风岐老师被共青团陕西省委、省教委、省少工评为最佳指导教师，
              同时还被团中央《辅导员》杂志杜评为优秀教师。</li>
          <li>1991年6月，董凤岐老师被评为陕西省学赖宁活动最佳支持者。10月魏黎阳同学荣获全国学赖宁奖章；
              董凤岐老师被评为全国学赖宁活动优秀指导者。</li>
          <li>1991年，全国物理化学单科联赛，三局中学高三学生汪韬获安康地区物理第二名、化学二等奖；
              何晓阳获化学三等奖。</li>
          <li>1991年（？），刘沛同学参加陕西省第三届运动会获得五十米仰泳、自由泳银、铜牌各一枚。</li>
          <li>1991年高考，三局中学63名学生考入大中专，这个战绩名列安康市（汉滨区）第一，
              安康地区13所重点中学中的第三。</li>
          <li>1991年9月，三局中学制定了《水电三局中学三年发展规划》即“132希望工程”。
              响亮地提出了，抓一（高一、初一）宝。保三，高三初三，促二（高二初二）的口号。
              三年发展规划共分为30条，其总体目标是，全面贯彻党的教育方针，实现“132希望工程”，
              为水电建设事业培养合格的后备人才，为国家输送更多更好的专业人才，
              力争使三局中学成为水电系统较有名气的学校。</li>
          <li>1991年10月，三局子弟中学以928分（满分1000）的成绩被评为能源部电力系统A级学校。</li>
          <li>1991年10月，南隧道老师被评为陕西省先进教师。</li>
          <li>1993年5月，水电三局子弟中小学开展“文明班”评比。此项活动由“申报、验收、评比、表彰”一系列环节组成。
              此后，便成为学校班级管理的重要载体。</li>
          <li>1993年11月，徐德胜老师《我们该怎样务本——93高考六省市语文卷的启示》获陕甘新鄂豫皖语文研究会论文评比一等奖并发表于
              《中学语文》。这是学校第一篇公开发表于专业刊物上的教研文章。</li>
          <li>1994年3月8日，国家教委体卫司李华处长在省教委、地区教育局领导同志陪同下到三局中学考察体育卫生工作。
              3月10日，李华同志又特别邀请三局教育处副处长、三局中学第一副校长曹宪宏参加安康地区教育局为其组织的座谈会。</li>
          <li>1995年3月，肖庆国老师荣获全国青少年"祖国万岁"读书教育活动优秀指导奖。
              此活动由中国关心下一代工作委员会、中国儿童发展中心、国家教委关心下一代工作委员会、
              中国少年先锋队全国工作委员会、中国青年出版社、新华书店首都发行所等六家单位主办。</li>
          <li>1995年5月，徐德胜老师的论文《作文与发散思维》在全国中语会苏鲁豫皖语文教学研究中心第十一届年会上荣获一等奖。</li>
          <li>1996年5月，子弟一校荣获由国家教委颁发的全国青少年读书教育活动组织金奖。</li>
        </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>

    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="96">1996年9月-2004年8月</a></h3>
      </div>
      <div class="card-body">
        <li>1996年9月，水电三局教育处副处长肖庆国兼任子弟中学校长。</li>
        <li>1997年1月，戴安平任子弟一校校长。</li>
        <li>1998年9月，水电三局教育处党委书记徐德胜兼任子弟中学校长。</li>
        <li>1998年9月，子弟一校成为安康第二师范学校教育教学实习基地。</li>
        <li>1998年12月，三局中学出台《面向二十一世纪五年规划》。</li>
        <li>1998年11月，“八校联谊”活动在子弟一校隆重举行。“八校联谊”始于1990年，
            是由安师附小、培新小学、红旗小学、铁路一、二、三校、恒口小学、
            水电三局子弟一校共同参加的教育教学研究活动。</li>
        <li>1998年12月，刘春梅老师被评为安康地区教学能手。</li>
        <li>1998年9月，子弟一校雷华丽、许巧凤老师编导的儿童舞蹈《中国娃》获安康地区首届艺术节小学组一等奖。
            子弟一校获“贡献奖”。1999年1月，该舞蹈又获陕西省舞蹈大赛儿童组三等奖。</li>
        <li>1999年5月，三局中学开展“五星评选”活动。它既有单项要求，也有全面的追求，是一个很激励学生的教育形式。
            此为“校园之星”评选活动的发端。</li>
        <li>2000年2月，刘长平老师被安康地区评为1999年度“学雷锋先进个人”。</li>
        <li>2000年3月，子弟一校被命名为安康地区“文明校园”。</li>
        <li>2000年5月，刘沛老师在历史科研成果评比中荣获陕西省二等奖。</li>
        <li>2000年5月，子弟一校被评为“省级文明单位”。</li>
        <li>2000年9月，周睿同学（男）被清华大学工程力学系录取。</li>
        <li>2000年9月，围棋，作为校本课程进入三局中学课堂；拥有围棋教师资格证的金志华老师执教。</li>
        <li>200？年12月9日，三局中学举办“12.9”艺术节。开启学校“春有运动会、秋有艺术节”的文体“双壁”。</li>
        <li>2001年  月，三局中学被为全国中小学教师信息技术教育基地。</li>
        <li>2001年4月，《三局中学》校报创刊，2004年在首届全国校报校刊评选活动中荣获一等奖。
            她是《岭上清风》、《岭上风景》的前身。</li>
        <li>2001年5月，子弟中学初中少先大队、子弟一校少先大队被评为陕西省“红旗大队”；
            马丽华、田景光老师被评为陕西省“优秀少先队辅导员”；朱吟萍老师被评为陕西省“优秀少先队工作者”。</li>
        <li>2001年6月，子弟一校少先大队被国家少工委评为全国“红旗大队”。</li>
        <li>2001年1月，贾三梅、王晖老师获得首届全国英语教师教学技能大赛二等奖、优秀奖。</li>
        <li>2001年5月，王令社老师被评为水电三局“杰出青年岗位能手”。</li>
        <li>2001年6月，三局中学《教育教学研究论文集》（第一集）成书。三局中学、三局子校、滨江学校
            “一书、一会、一奖” (每年汇编一本教育教学论文集，召开一次教育教学研讨会，奖励一批教研成果)
            和“1110工程”(每一学年写一篇教育教学心得或论文，上一堂公开课，听十节同行课)教研制度的形成由此发端。</li>
        <li>2001年7月，三局中学党支部被评为水利水电集团总公司“先进基层党组织”并第四次被评为工程局“标杆党支部”。</li>
        <li>2001年7—8月，刘有刚、王静同学在水电三局电视台暑期社会实践，刘有刚实习主持三局新闻。</li>
        <li>2001年8月——2002年2月，周洪文、田景明、岳立、胡旭辉、段瑞莲、刘春梅六位老师参加陕西省
            “跨世纪园丁工程——中小学骨干教师省级培训”。</li>
        <li>2001年9月，三局中学被安康地区授予“高中教育工作先进学校”。</li>
        <li>2001年9月，三局中学首次接收安排安康师专32名师范生实习。开启与安康师专的交流与合作。</li>
        <li>2001年9月10日，学校第一部专题片《蓬勃发展的三局中学》在水电三局电视台播放。</li>
        <li>2001年10月，水电三局教育处党委书记兼三局中学校长徐德胜当选中共安康市第一次代表大会代表。</li>
        <li>2001年10月，安康市第一届评赛，陈彦卿老师被评为 “市级教学能手”。</li>
        <li>2001年11月10日，水电三局党校支部书记培训班全体学员到子弟中学察学习。</li>
        <li>2002年1月7日，安康市电视台按市委宣传部的要求，对三局中学进行采访报道。</li>
        <li>2002年2月，杨春芳老师被陕西省总工会授予先进女职工工作者称号。</li>
        <li>2002年3月，李欣老师被评为陕西省“十五”女职工建功立业创新能手。</li>
        <li>2002年5月，三局中学被安康市命名为“文明校园”。</li>
        <li>2002年6月，三局中学召开第一次教学研讨会，以交流、评比、结集，达到提高水平，促进教学的目的。</li>
        <li>2002年6月，白陇梅、吴孝玲二位老师编出了三局中学第一本教辅材料（初中化学）。</li>
        <li>2002年中考，陆春晖（女）同学以总分555的成绩名列汉滨区第一、安康市第一。汉滨区500分以上者不足50人，三局中学占8席。</li>
        <li>2002年6月，傅长征老师在陕西省第三次初中青年数学教师优秀课评比与观摩活动中获得二等奖。</li>
        <li>2002年7月，李爱峡老师获得陕西省小学自然教学论文评比一等奖。</li>
        <li>2002年9月，张璇同学（男）被清华大学计算机系录取。</li>
        <li>2002年10月，王令社、李维纲、张炳义老师在陕西省首届高中地理优质课评比中分别获得特等奖、一等奖、二等奖。</li>
        <li>2002年10月，全国少工委专职委员儿童教育专家卢静在省市团委领导的陪同下，到子弟一校做儿童教育专题讲座。</li>
        <li>2002年10月，王令社获得全国中学地理教学优秀论文评比二等奖。</li>
        <li>2002年12月，徐德胜、陈蜀冀老师在全省中小学国防教育知识竞赛组织工作中被评为先进个人。</li>
        <li>2003年1月，戴安平同志被评为陕西省重视支持少先队工作好校长。陈小红同志被评为省优秀少先队工作者，陈蜀冀被评为省优秀少先队辅导员。</li>
        <li>2003年，子弟一校雷华丽老师排练的舞蹈《朱鹮》荣获省中小学生艺术展演二等奖。</li>
        <li>2003年6月28日，安康市教育局对三局中学工作进行全面检查。当年市教育工作会议确认学校为“安康市重点中学”。</li>
        <li>2003年6月，三局中学2003届高中毕业生评出“我最喜爱的老师”——姚玉增。</li>
        <li>2004年5月，三局中学获得全国中小学生信息技术创新与实践活动先进单位、陕西省中小学生信息技术创新与实践活动优秀组织奖、陕西省第三届中小学生电脑制作活动最佳组织奖。</li>
      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>



    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="04">2004年8月-2006年12月</a></h3>
      </div>
      <div class="card-body">
        <li>2004年8月，水电三局子弟中学分为三局初级中学、三局高级中学；水电三局教育处党委书记徐德胜、
            水电三局教育处副处长王广培分别兼任初级中学、高级中学校长、书记。</li>
        <li>2004年9月，子弟一校创办金色童年报。</li>
        <li>2005年3月，水电三局按《国务院办公厅关于第二批中央企业分离办社会职能工作有关问题的通知》
            (国办发(2005)4号)文件要求，国务院4号文件要求，启动所属学校移交地方的工作。</li>
        <li>2005年4月，沈力齐老师荣获第三届“全国中小学信息技术创新与实践活动”决赛发明创新竞赛教师组一等奖。</li>
        <li>2005年4月，陈发祥任水电三局初级中学校长。</li>
        <li>2005年4月，段瑞莲和周文莉老师分别在教师信息技术与学科整合设计竞赛高中语文组和小学语文组荣获二、三等奖。</li>
        <li>2005年9月，水电三局子弟一校、水电三局初级中学、水电三局高级中学合并为水电三局职工子弟学校；徐德胜任校长，王广培任党委书记。</li>
        <li>2006年5月，刘长平老师的论文《学校管理之我见》入选中国教育教学研究会《2005中国教研年鉴.论文编》一书发表。</li>
        <li>2006年5月17日，中国水利水电建设集团公司和陕西省人民政府签订《移交协议书》。</li>
        <li>2006年7月，沈力齐老师在第四届全国中小学信息技术创新与实践活动决赛中获得一等奖。</li>
        <li>2006年9月，陈永华、吴惠平两位老师在陕西省第四届中学数学青年教师优秀课评比与观摩活动中均荣获说课二等奖。</li>
        <li>2006年12月6日，水电三局和汉滨区政府签订《补充移交协议书》，完成水电三局职工子弟学校整建制移交到汉滨区的工作。</li>

      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>

    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="06">2006年12月-2017年8月</a></h3>
      </div>
      <div class="card-body">
        <li>2006年12月13日，三局职工子弟学校更名为汉滨区滨江学校。</li>
        <li>2007年3月，陈永华老师当选汉滨区第十三届政协委员。</li>
        <li>2007年6月，陕西省第七届中小学生电脑制作活动，滨江学校初高中10名学生获一二三等奖，学校获优秀组织奖。</li>
        <li>2007年6月，李维刚老师获陕西省教育厅基础教育优秀教学成果三等奖。</li>
        <li>2007年7月，陈永华老师的课件《点、线、面、体》在陕西省中学数学课件评比中被评为三等奖。</li>
        <li>2007年9月，丁家琛同学参加中考，以总分624，理化120（满分）的成绩，被重点中学录取。</li>
        <li>2007年9月22日，更名后的滨江学校首届教代会第一次会议召开。大会通过了《认清形势  转变观念 适应变化  抓住机遇 尽快发展 ----滨江学校2007----2010发展规划》、《滨江学校文化建设规划》。</li>
        <li>2007年11月---2008年7月，由学校政教处牵头组织25名班主任、团队干部参加了团中央、全国少工委、
            中国心理协会组织的《心理健康辅导员职业培训》的课程学习，这是学校第一次有组织有规模的对教师进行心理健康知识、
            技能的专题培训。</li>
        <li>2007年10月，学校团委组织开展校徽、校歌征集活动，程铁群老师设计的校徽、徐德胜作词，张兰喜作曲的《滨江之歌》被采用。</li>
        <li>2007年11月，滨江学校教育教学内部刊物《岭上风景》创刊。</li>
        <li>2008年5月16日，学校举行“众志成城，共渡难关——抗震救灾募捐活动”。全校师生为512汶川大地震受灾地区募捐40269元。同年9月8日，中共中央组织部给李红老师颁发特殊党费收据，
            以此奖励她为汶川大地震一次性捐款一个月工资1492元的爱心行动。</li>
        <li>2008年11月，沈力齐老师的《点火爆炸演示器》荣获2008年度全省基础教育优秀教育成果，自制教具类三等奖。</li>
        <li>2008年11月，王瑛老师获得全国第十七届中学生生物联赛“陕西省优秀辅导教师”。</li>
        <li>2008年11月，周洪文老师获得第二十二届全国高中化学竞赛“陕西省优秀指导教师”。</li>
        <li>2008年12月，姚玉增老师获得第二十五届全国高中物理竞赛“陕西省优秀指导教师”。</li>
        <li>2009年6月5日，安康市市长方玮峰、副市长吴德珠带领市教育局、建设局、财政局，国土局，发改委和汉滨区政府的主要负责同志，到学校就教育资源优化配置问题进行调研。</li>
        <li>2011年1月，学校第一个区级课题《中学生信息素养现状调研》结题，获“良好”；课题负责人周洪文，李欣、邹超、
            孙玉群、路晶、赵建军为课题组成员。</li>
        <li>2011年3月6日，安康市副市长邹顺生、汉滨区区长王孝成到滨江学校检查开学工作。王区长要求学校对校园进行整体规划。</li>
        <li>2012年9月，郭斌老师率学校教工毽球队应邀参加安康市运动会开幕式展演。</li>
        <li>2013年7月，学校第一个市级小课题《规范使用化学用语提高化学教学的效率研究》结题，
            获“优秀”；课题主持人王丽，成员有闵云峰、陈永华。</li>
        <li>2013年9月，王丽老师被聘为安康市教育科研“十二五”规划2013——2014年度小课题过程管理指导专家。</li>
        <li>2013年12月，汉滨区教育局命名滨江学校为“初中教育质量先进学校”。</li>
        <li>2013年12月，滨江学校第一本校本教材《滨江记忆》成书。</li>
        <li>2014年11月，滨江学校举办第一届“青年论坛”，陈小红和李爱峡二位老师作主旨发言。</li>
        <li>2014年12月30日，滨江学校第一届“迎新经典诵读”活动隆重举行。</li>
        <li>2015年6月3日，安康市副市长杜寿平到滨江学校调研。</li>
        <li>2015年9月20日，滨江学校运动场开工建设，2016年10月18日竣工。</li>
        <li>2015年11月3日，安康市副市长孙矿玲到滨江学校调研江北教育资源整合工作。</li>
        <li>2015年12月，学校承担的陕西省基础教育“十二五”教育技术研究规划课题
            《信息技术在初一年级公共安全教育课课堂教学中的应用研究》顺利结题，获得优秀等级。
            该课题于2011年12月获得立项，课题立项号为：12511237。
            课题组成员有:徐德胜、陈发祥、李京文、王 丽、邹 超、王 晖、陈永华、赵建军、吴玉兵。
            课题学术负责人：陈发祥，行政负责人：徐德胜。这是学校参与的第一个省级课题，
            学校被省电化教育馆评为课题研究先进集体，王丽老师获得先进个人。</li>
        <li>2016年5月，在陕西省首届中小学微课大赛中王丽、赵建军、金志华老师获得二等奖，王晖老师获得三等奖。</li>
        <li>2016年5月，冀爱萍老师散文集《岁月静好》由未来出版社正式出版发行。这是学校第一部正式出版的个人著作。</li>
        <li>2016年10月，学校党总支换届选举，选举产生了新一届党总支，成员：徐德胜，陈小红、郭斌、王丽，闵云锋，沈芳，文静。
            徐德胜任总支书记、陈小红任总支副书记。</li>
        <li>2016年11月7日，郭斌副校长主持的学校基本建设规划通过安康市规划评审。</li>
        <li>2016年11月10日—11日，汉滨区初、高中骨干教师赛教评优与交流研讨活动在滨江学校举行。</li>
        <li>2016年12月，汉滨区首批中小学幼儿园学科带头人评选，王丽老师被评选为高中化学学科带头人、
            王晖老师被评选为初中英语学科带头人、张琍老师被评选为小学数学学科带头人。</li>
        <li>2017年2月10日，安康市市长徐启方到学校检查指导学校整体规划工作。</li>
        <li>2017年6月9日，安康市政协副主席马孝芳到学校检查指导。</li>
        <li>2017年7月，学校初中综合楼开工建设；2018年6月15日，竣工验收；2018年9月1日投入使用。</li>
      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>

    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="17">2017年8月-2020年8月</a></h3>
      </div>
      <div class="card-body">
        <li>2017年8月23日，郑杰同志任滨江学校校长；陈小红同志任滨江学校党总支书记。</li>
        <li>2017年10月17日，陕西省教育督导团检查滨江学校义务教育均衡发展工作。</li>
        <li>2018年4月25日，陕西省义务教育均衡发展回访督导组到滨江学校检查指导工作。</li>
        <li>2018年12月，滨江学校（小学部）荣获汉滨区教体局2017—2018年度中心城区大学区改革优秀单位。</li>
        <li>2019年1月24日，汉滨区发改局组织召开汉滨区滨江学校初中综合楼工程综合验收会议。</li>
        <li>2019年3月，学校党总支组织开展“青蓝结对”活动。</li>
        <li>2019年5月27日，小学综合楼开工建设。</li>
        <li>2019年7月8日，学校举办“滨江学校第一届班主任节暨班主任工作经验交流会”。</li>
        <li>2019年8月，学校高一停止招生。</li>
        <li>2019年11月，由陈小红、王丽、陈永华、吴玉兵四人小组负责的学校德育展厅设计方案完成。</li>
        <li>2020年7月，由陈小红、王丽、陈永华、吴玉兵四人小组负责的学校大门设计方案和校园文化设计方案完成。</li>

      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>

    <div class="card mb-3">
      <div class="card-header">
        <h3><a id="20">2020年8月-2023年8月</a></h3>
      </div>
      <div class="card-body">
        <li>2020年8月23日，汉滨区滨江学校（前身为水电三局子校）正式加入汉滨初中教育集团，
            成为“汉滨初中滨江校区”；马晓宁任执行校长。

      </div>
      <div class="card-footer">我有话要说
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <p></p>



  </div>











</div>



{% endblock main1 %}
